<body style="overflow-x:hidden;height:100%;width:100%">
    <app-navbaruser class="sticky-head"></app-navbaruser>

 <div class="section-title">

    <div class="section-title section-title--one text-center mb-30 " style="margin-top: 6%;" >
        <h2>Download Mobile App</h2>
        
    </div>

       <div class="row"  >
           <div class="col-lg-6">

        
        <div class="col-lg-10 col-md-10 col-sm-10  offset-lg-7">
           
            <!--=======  single category  =======-->
    
            <div class="single-category single-category--one  single-category--concept-home ">
                <!--=======  single category image  =======-->
                
                <div class="single-category__image single-category__image--one rounded mx-auto d-block mb-30 ">
                    <img  src="../../assets/images/Lamaya/imag16.jpeg" class="img-fluid " alt="" style="height:600PX;  width:100%; ">
                </div>
                
                <!--=======  End of single category image  =======-->

                <!--=======  single category content  =======-->
                <div class="row text-center">
                <div class="col-lg-6 col-md-6 mb-md-30 mb-sm-30 mb-30">
                    <!--=======  single button  =======-->
                    
                    <button class="lezada-button lezada-button--large"><img src="../../assets/images/Lamaya/playlogo.png" style="height: 40px;width:40px;">Play Store
                    </button>
                    
                    <!--=======  End of single button  =======-->
                </div>
                <div class="col-lg-6 col-md-6 mb-sm-30 mb-30">
                    <!--=======  single button  =======-->
                    
                    <button class="lezada-button lezada-button--large  "><img src="../../assets/images/Lamaya/apple.png" style="height: 40px;width:40px; margin-left: -7%;"> Apple Store</button>
                    
                    <!--=======  End of single button  =======-->
                </div>

            </div>
                <!--=======  End of single category content  =======-->
                </div>
        </div>

    </div>
</div>
</div>


<app-footer></app-footer>
</body>