<body style="overflow-x:hidden;height:100%;width:100%">
    <app-navbaruser class="sticky-head"></app-navbaruser>

    <div class="section-title-container mb-40" style="margin-top: 10%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <!--=======  section title  =======-->
                    
                    <div class="section-title section-title--one text-center">
                        
                        <p class="subtitle subtitle--deep">SIMPLY OR WHITE</p>
                        <h1>Clever & unique ideas</h1>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit met condimentum estibulum is Suspe ndisse suscipit sagittis leo sit met condimentum estibulorem ipsum dolor sit amet, consectetur cing elit.</p>
                    </div>
                    
                    <!--=======  End of section title  =======-->
                </div>
            </div>
        </div>
    </div>
    
    <!--=====  End of section title container ======-->

    <div class="about-video-content mb-100" >
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <!--=======  about video area  =======-->
                    
                    <div class="about-video-bg-area about-video-bg-2 pt-300 pb-300 pt-sm-200 pb-sm-200  pt-xs-150 pb-xs-150  mb-50" style="background-image: url('../../assets/images/Lamaya/mall.jpg');">
                        <!--=======  floating-text left  =======-->
                        
                        <p class="video-text video-text-left"><a href="#">LEZADA STORE</a></p>
                        
                        <!--=======  End of floating-text left  =======-->
                        <div class="play-icon text-center mb-40">
                            <a href="https://www.youtube.com/watch?v=feOScd2HdiU" class="popup-video">
                                <img src="assets/images/icons/icon-play-100x100.png" class="img-fluid" alt="">
                            </a>
                        </div>
                       

                        <!--=======  floating-text right  =======-->
                        
                        
                        
                        <!--=======  End of floating-text right  =======-->

                    </div>
                    
                    <!--=======  End of about video area  =======-->
                </div>

        
            </div>

            <div class="row">

                <div class="offset-lg-1 col-lg-4 col-md-6 mb-sm-50">
                    <div class="lezada-widget lezada-widget--about mb-35">
                        <h2 class="widget-title mb-25">ADDRESS</h2>
                        <p class="widget-content">1800 Abbot Kinney Blvd. Unit D & E Venice</p>
                    </div>
                    <div class="lezada-widget lezada-widget--about mb-35">
                        <h2 class="widget-title mb-25">PHONE</h2>
                        <p class="widget-content">Mobile: (+88) – 1990</p>
                    </div>
                    <div class="lezada-widget lezada-widget--about">
                        <h2 class="widget-title mb-25">EMAIL</h2>
                        <p class="widget-content">contact@lezadastore.com</p>
                    </div>
                </div>

                <div class="col-lg-5 offset-lg-1 col-md-6">
                    <!--=======  about page content  =======-->
                        
                    <div class="about-page-text">
                        <p class=" mb-35">Lorem ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit estibulum issim Lorem ipsum dolor sit amet, consectetur cing elit. ipsum dolor sit amet, consectetur cing elit. Suspe ndisse suscipit sagittis leo sit es</p>

                        <a href="#" class="lezada-button lezada-button--medium lezada-button--icon--left"> <i class="icon-left ion-plus"></i> online store</a>
                    </div>
                    
                    <!--=======  End of about page content  =======-->
                </div>

            </div>
        </div>
    </div>
    
    <!--=====  End of about us video content  ======-->



    <!--=============================================
    =            multi item testimonial area        =
    =============================================-->
    
		<div class="container pt-50 pb-50 " style="background-color: rgb(129, 127, 127);">
			<div class="row">
				<div class="col-lg-12 mb-60">
					<!--=======  section title  =======-->
					
					<div class="section-title section-title--one text-center">
						<h1>Testimonial</h1>
					</div>
					
					<!--=======  End of section title  =======-->
				</div>
			</div>
                <div class="row">
					<div class="col-lg-8 mr-auto ml-auto">
                        <div class=" page-carousel">
                            <ngb-carousel>
                                
                                <ng-template ngbSlide >
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/imag25.jpg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/imag27.jpg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/imag29.jpg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                    </div>
                                    
                                    <!-- <img src="../../assets/images/backgrounds/slide2.jpeg" style="height:500px;width:100%;"
                                        alt="Random first slide"> -->
                                    <div class="carousel-caption">
                                    </div>
                                
                                </ng-template>
                          
        
                            
                                <ng-template ngbSlide>
                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/imag5.jpeg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/imag7.jpeg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/imag3.jpeg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                    </div>
                                    <div class="carousel-caption">
                                    </div>
                                
                                </ng-template>
                              
                               
                                <ng-template ngbSlide>
                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/imag12.jpeg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/lehng1.jpg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/imag18.jpeg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                    </div>
                                    <div class="carousel-caption">
                                    </div>
                                
                                </ng-template>
                                
        <!--                         
                                <ng-template ngbSlide>
                                    
                                    <img src="../../assets/images/backgrounds/slide4.jpeg" style="height:30%;width:100%"
                                        alt="Random third slide">
                                    <div class="carousel-caption">
                                    </div>
                               
        
                                </ng-template> -->
                                
                                
                                 <ng-template ngbSlide>
                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/top6.jpg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/top5.jpg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                        <div class="col-md-4">
                                            <img src="../../assets/images/Lamaya/top7.jpg" style="height:500px;width:100%;"
                                            alt="Random first slide">
                                        </div>
                                    </div>
                                    <div class="carousel-caption">
                                    </div>
                                
                                </ng-template>
                               
                            </ngb-carousel>
                        </div>
                    </div>
					<!--=======  End of section title  =======-->
				</div>
                </div>

                <div class="section-title-container mb-40 mt-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <!--=======  section title  =======-->
                                
                                <div class="section-title section-title--one text-center">
                                    <h1>Our brands</h1>
                                </div>
                                
                                <!--=======  End of section title  =======-->
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--=====  End of section title container ======-->
            
            
                <!--=============================================
                =            brand logo area         =
                =============================================-->
                
                <div class="brand-logo-area mb-90 mb-md-60 mb-sm-60 ">
                    <div class="container wide">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
                                <!--=======  single brand logo  =======-->
                                
                                <div class="single-brand">
                                    <a href="#">
                                        <img src="assets/images/brands/logo-1.png" class="img-fluid" alt="">
                                    </a>
                                </div>
                                
                                <!--=======  End of single brand logo  =======-->
                            </div>
                            <div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
                                <!--=======  single brand logo  =======-->
                                
                                <div class="single-brand">
                                    <a href="#">
                                        <img src="assets/images/brands/logo-2.png" class="img-fluid" alt="">
                                    </a>
                                </div>
                                
                                <!--=======  End of single brand logo  =======-->
                            </div>
                            <div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
                                <!--=======  single brand logo  =======-->
                                
                                <div class="single-brand">
                                    <a href="#">
                                        <img src="assets/images/brands/logo-3.png" class="img-fluid" alt="">
                                    </a>
                                </div>
                                
                                <!--=======  End of single brand logo  =======-->
                            </div>
                            <div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
                                <!--=======  single brand logo  =======-->
                                
                                <div class="single-brand">
                                    <a href="#">
                                        <img src="assets/images/brands/logo-1.png" class="img-fluid" alt="">
                                    </a>
                                </div>
                                
                                <!--=======  End of single brand logo  =======-->
                            </div>
                            <div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
                                <!--=======  single brand logo  =======-->
                                
                                <div class="single-brand">
                                    <a href="#">
                                        <img src="assets/images/brands/logo-2.png" class="img-fluid" alt="">
                                    </a>
                                </div>
                                
                                <!--=======  End of single brand logo  =======-->
                            </div>
                            <div class="col-lg-2 col-md-4 mb-md-30 mb-sm-30">
                                <!--=======  single brand logo  =======-->
                                
                                <div class="single-brand">
                                    <a href="#">
                                        <img src="assets/images/brands/logo-3.png" class="img-fluid" alt="">
                                    </a>
                                </div>
                                
                                <!--=======  End of single brand logo  =======-->
                            </div>
                        </div>
                    </div>
                </div>
            
            


    <app-footer></app-footer>
</body>