<body style="overflow-x:hidden;height:100%;width:100%">
    <app-navbaruser class="sticky-head"></app-navbaruser>


    <div class=" pt-80 pb-10">
        <img src="http://localhost:8090{{bannerimage}}"class="img-fluid" alt="">
        <!-- {{bannerimage}} -->
        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="breadcrumb-title">Shop</h1>
                </div>
            </div>
        </div> -->
    </div>
    <div class="shop-page-wrapper">
        <div class="shop-page-header">
            <div class="container wide">
                <div class="row align-items-center">

                    <div class="col-12 col-lg-7 col-md-10 d-none d-md-block">
                        <div class="filter-title filter-title--type-two">
                            <ul class="product-filter-menu">
                                <li data-filter="*" [ngClass]="allDefaultclass" (click)="allDefault()" >All</li>
                                <li data-filter=".hot" [ngClass]="hotclass" (click)="hot()">hot products</li>
                                <li data-filter=".new" [ngClass]="newclass" (click)="new()">new products</li>
                                <li data-filter=".sale" [ngClass]="saleclass" (click)="sale()">sale products</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 col-md-2">
                        <div class="filter-icons">
                            <div class="single-icon filter-dropdown">
                                <select class="nice-select">
									<option value="0">Default sorting</option>
									<option value="1">Sort by popularity</option>
									<option value="0">Sort by average rating</option>
									<option value="0">Sort by latest</option>
									<option value="0">Sort by price: low to high</option>
									<option value="0">Sort by price: high to low</option>
								</select>
                            </div>
                            <div class="single-icon grid-icons">
                                <a data-target="five-column" [ngClass]="fiveclass" (click)="fiveColumn()"><i class="ti-layout-grid4-alt"></i></a>
                                <a data-target="four-column" [ngClass]="fourclass" (click)="fourColumn()"><i class="ti-layout-grid3-alt"></i></a>
                                <a data-target="three-column" [ngClass]="threeclass" (click)="threeColumn()"><i
										class="ti-layout-grid2-alt"></i></a>
                                <!-- <a data-target="list" [ngClass]="listclass" (click)="list()"><i class="ti-view-list"></i></a> -->
                            </div>

                            <!-- Important Filters  -->
                            
                            <!-- <div class="single-icon advance-filter-icon">
                                <a id="advance-filter-active-btn" (click)="openFilter()"><i
										class="ion-android-funnel"></i>
									Filters</a>
                            </div> -->

                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div [ngClass]="filterclass" id="shop-advance-filter-area">
            <div class="shop-advance-filter-wrapper pt-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-50">
                            <!--=======  single advance filte  =======-->

                            <div class="single-filter-widget">
                                <h2 class="single-filter-widget--title">Sort by</h2>
                                <ul class="single-filter-widget--list">
                                    <li><a href="#">Default</a></li>
                                    <li><a href="#">Popularity</a></li>
                                    <li><a href="#">Average rating</a></li>
                                    <li><a href="#">Newness</a></li>
                                    <li><a href="#">Price: low to high</a></li>
                                    <li><a href="#">Price: high to low</a></li>
                                </ul>
                            </div>

                            <!--=======  End of single advance filte  =======-->
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-6 mb-50">
                            <!--=======  single advance filte  =======-->

                            <div class="single-filter-widget">
                                <h2 class="single-filter-widget--title">Categories</h2>
                                <ul class="single-filter-widget--list single-filter-widget--list--category">
                                    <li class="has-children">
                                        <a href="shop-left-sidebar.html">Cosmetic </a> <span class="quantity">5</span>
                                        <ul>
                                            <li><a href="shop-left-sidebar.html">For body</a></li>
                                            <li><a href="shop-left-sidebar.html">Make up</a></li>
                                            <li><a href="shop-left-sidebar.html">New</a></li>
                                            <li><a href="shop-left-sidebar.html">Perfumes</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="shop-left-sidebar.html">Furniture </a> <span class="quantity">23</span>
                                        <ul>
                                            <li><a href="shop-left-sidebar.html">Sofas</a></li>
                                            <li><a href="shop-left-sidebar.html">Armchairs</a></li>
                                            <li><a href="shop-left-sidebar.html">Desk Chairs</a></li>
                                            <li><a href="shop-left-sidebar.html">Dining Chairs</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-left-sidebar.html">Watches </a> <span class="quantity">12</span>
                                    </li>
                                </ul>
                            </div>

                            <!--=======  End of single advance filte  =======-->
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-6 mb-50">
                            <!--=======  single advance filte  =======-->

                            <div class="single-filter-widget">
                                <h2 class="single-filter-widget--title">Price filter</h2>
                                <ul class="single-filter-widget--list">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">$0.00 - $70.00</a></li>
                                    <li><a href="#">$70.00 - $140.00</a></li>
                                    <li><a href="#">$140.00 - $210.00</a></li>
                                    <li><a href="#">$210.00 - $280.00</a></li>
                                    <li><a href="#">$280.00 - $350.00</a></li>
                                </ul>
                            </div>

                            <!--=======  End of single advance filte  =======-->
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-6 mb-50">
                            <!--=======  single advance filte  =======-->

                            <div class="single-filter-widget">
                                <h2 class="single-filter-widget--title">Color</h2>
                                <ul class="single-filter-widget--list single-filter-widget--list--color">
                                    <li><a class="active" href="#" data-tippy="Black" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span
												class="color-picker black"></span></a></li>
                                    <li><a href="#" data-tippy="Blue" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span
												class="color-picker blue"></span></a></li>
                                    <li><a href="#" data-tippy="Brown" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span
												class="color-picker brown"></span></a></li>
                                    <li><a href="#" data-tippy="Gold" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span
												class="color-picker gold"></span></a></li>
                                    <li><a href="#" data-tippy="Green Coral" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span
												class="color-picker green-coral"></span></a></li>
                                    <li><a href="#" data-tippy="Grey" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span
												class="color-picker grey"></span></a></li>
                                    <li><a href="#" data-tippy="Oak" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span
												class="color-picker oak"></span></a></li>
                                    <li><a href="#" data-tippy="Pink" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span
												class="color-picker pink"></span></a></li>
                                    <li><a href="#" data-tippy="Silver" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span
												class="color-picker silver"></span></a>
                                    </li>
                                    <li><a href="#" data-tippy="White" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"><span
												class="color-picker white"></span></a></li>
                                </ul>
                            </div>

                            <!--=======  End of single advance filte  =======-->
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-6 mb-50">
                            <!--=======  single advance filte  =======-->

                            <div class="single-filter-widget">
                                <h2 class="single-filter-widget--title">Size</h2>
                                <ul class="single-filter-widget--list single-filter-widget--list--size">
                                    <li><a href="#">L</a> <span class="quantity">5</span></li>
                                    <li><a href="#">M</a> <span class="quantity">5</span></li>
                                    <li><a href="#">S</a> <span class="quantity">5</span></li>
                                    <li><a href="#">XS</a> <span class="quantity">5</span></li>
                                </ul>
                            </div>

                            <!--=======  End of single advance filte  =======-->
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-6 mb-50">
                            <!--=======  single advance filte  =======-->

                            <div class="single-filter-widget">
                                <h2 class="single-filter-widget--title">Brands</h2>
                                <ul class="single-filter-widget--list single-filter-widget--list--brand">
                                    <li><a href="#">Alliop</a> <span class="quantity">(12)</span></li>
                                    <li><a href="#">Burberry</a> <span class="quantity">(15)</span></li>
                                    <li><a href="#">Catmen</a> <span class="quantity">(13)</span></li>
                                    <li><a href="#">Houdini</a> <span class="quantity">(10)</span></li>
                                    <li><a href="#">Love</a> <span class="quantity">(70)</span></li>
                                    <li><a href="#">Made</a> <span class="quantity">(15)</span></li>
                                </ul>
                            </div>

                            <!--=======  End of single advance filte  =======-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--=====  End of shop advance filter area  ======-->

        <!--=============================================
			=            shop page content         =
			=============================================-->

        <div class="shop-page-content mt-100 mb-100">
            <div class="container wide">
                <div class="row">
                   
                    <div class="col-xl-3 col-lg-3 order-2 order-lg-1">
                        <!--=======  page sidebar  =======-->

                        <div class="page-sidebar">
                            <!--=======  single sidebar widget  =======-->

                            <div class="single-sidebar-widget mb-40">
                                <!--=======  search widget  =======-->

                                <div class="search-widget">
                                    <form action="#">
                                        <input type="search" placeholder="Search products ...">
                                        <button type="button"><i class="ion-android-search"></i></button>
                                    </form>
                                </div>

                                <!--=======  End of search widget  =======-->
                            </div>


                            <!--=======  End of single sidebarwidget  =======-->

                            <!--=======  single sidebar widget  =======-->

                            <div class="single-sidebar-widget mb-40">
                                <h2 class="single-sidebar-widget--title">Categories</h2>
                                <ul class="single-sidebar-widget--list single-sidebar-widget--list--category">
                                    <li class="has-children" *ngFor="let cat of category ;let i=index">
                                        <a>{{cat.name}} </a> <span class="quantity">{{cat.SubCategory.length}}</span>
                                        <ul *ngIf="cat.SubCategory.isopen" [style.display]="menuShow" style="overflow: hidden;height: 90px;padding-top: 0px;
                                        margin-top: 3.12292px; padding-bottom: 0px;margin-bottom:0px;line-height: 16px;">
                                            <li *ngFor="let sub of cat.SubCategory;let j=index" (click)="openCategories(sub.id)" ><a>{{sub.name}}</a></li>
                                        </ul>
                                        <a (click)="getSubCategory(cat.id,i)" class="expand-icon" *ngIf="cat.isclose">+</a>
                                        <a (click)="getSubCategory(cat.id,i)" class="expand-icon" *ngIf="!cat.isclose">-</a>
                                    </li>
                                </ul>
                            </div>

                            <!--=======  End of single sidebar widget  =======-->

                            <!--=======  single sidebar widget  =======-->

                            <div class="single-sidebar-widget mb-40">
                                <h2 class="single-sidebar-widget--title">Filters</h2>
                                <div class="sidebar-price">
                                    <div id="price-range"></div>
                                    <div class="output-wrapper mt-20">
                                        <input type="text" id="price-amount" class="price-amount" readonly>
                                        <a class="price-range-button"><i class="ion-android-funnel"></i>
											Filter</a>
                                    </div>
                                </div>
                            </div>

                            <!--=======  End of single sidebar widget  =======-->

                            <!--=======  single sidebar widget  =======-->

                            <div class="single-sidebar-widget mb-40">
                                <h2 class="single-sidebar-widget--title">Popular products</h2>

                                <!--=======  widget product wrapper  =======-->

                                <div class="widget-product-wrapper">
                                    <!--=======  single widget product  =======-->
                                    <div class="single-widget-product-wrapper" >
                                        <div class="single-widget-product" *ngFor="let b of popularList | slice:0:5; let i=index">
                                            <!--=======  image  =======-->

                                            <div class="single-widget-product__image">
                                                <a>
                                                    <img src="http://localhost:8090{{b.productMainImage}}" class="img-fluid" alt="">
                                                </a>
                                            </div>

                                            <!--=======  End of image  =======-->

                                            <!--=======  content  =======-->

                                            <div class="single-widget-product__content">

                                                <div class="single-widget-product__content__top">
                                                    <h3 class="product-title" (click)="openPopular(b.id)"><a>{{b.productName}}</a></h3>
                                                    <div class="price">
                                                        <!-- <span class="main-price discounted">₹ {{b.productPrice}}</span> -->
                                                        <span class="discounted-price">₹ {{b.productPrice}}</span>
                                                    </div>
                                                    <!-- <div class="rating">
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star-outline"></i>
                                                        <i class="ion-android-star-outline"></i>
                                                        <i class="ion-android-star-outline"></i>
                                                    </div> -->
                                                </div>

                                            </div>

                                            <!--=======  End of content  =======-->
                                        </div>
                                    </div>

                                    <!--=======  End of single widget product  =======-->
                                </div>

                            </div>

                            <!-- <div class="single-sidebar-widget">
                                <h2 class="single-sidebar-widget--title">Tags</h2>

                                <div class="tag-container">
                                    <a href="#">bags</a>
                                    <a href="#">chair</a>
                                    <a href="#">clock</a>
                                    <a href="#">comestic</a>
                                    <a href="#">fashion</a>
                                    <a href="#">furniture</a>
                                    <a href="#">holder</a>
                                    <a href="#">mask</a>
                                    <a href="#">men</a>
                                    <a href="#">oil</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 order-1 order-lg-2 mb-md-80 mb-sm-80">

                        <div [ngClass]="column">
                            <div [ngClass]="columnrow" *ngFor="let pl of productList">
                                <div class="single-product">

                                    <div class="single-product__image">
                                        <a class="image-wrap empty-box" (click)="getProductList(pl.id)">
                                            <img src="http://localhost:8090{{pl.productMainImage}}" class="img-fluid" alt="">
                                        </a>

                                        <div class="single-product__floating-badges" *ngIf="pl.isOnSale" >
                                            <span class="onsale">-10%</span>
                                        </div>

                                        <div class="single-product__floating-badges" *ngIf="pl.isHot">
                                            <span class="hot">hot</span>
                                        </div>

                                        <div class="single-product__floating-icons">
                                            <span class="wishlist"><a data-tippy="Add to wishlist"
													data-tippy-inertia="true" data-tippy-animation="shift-away"
													data-tippy-delay="50" data-tippy-arrow="true"
													data-tippy-theme="sharpborder" data-tippy-placement="left" 
													(click)="addToWishlist(pl.id , pl)"><i
														class="ion-android-favorite-outline"></i></a></span>
                                            <span class="compare"><a data-tippy="Compare"
													data-tippy-inertia="true" data-tippy-animation="shift-away"
													data-tippy-delay="50" data-tippy-arrow="true"
													data-tippy-theme="sharpborder" data-tippy-placement="left"><i
														class="ion-ios-shuffle-strong"></i></a></span>
                                            <!-- <span class="quickview"><a class="cd-trigger" href="#qv-1" 
													data-tippy="Quick View" data-tippy-inertia="true"
													data-tippy-animation="shift-away" data-tippy-delay="50"
													data-tippy-arrow="true" data-tippy-theme="sharpborder"
													data-tippy-placement="left"><i
														class="ion-ios-search-strong"></i></a></span> -->
                                        </div>
                                    </div>

                                    <div class="single-product__content">
                                        <div class="title">
                                            <h3> <a>{{pl.productName}}</a></h3>
                                            <a (click)="addToCart(pl.id,pl)">Add to cart</a>
                                        </div>
                                        <div class="price">
                                            <span class="main-price">₹ {{pl.productPrice}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="productList.length >0">
                            <div class="col-lg-12 text-center mt-30">
                                <a class="lezada-button lezada-button--medium lezada-button--icon--left"><i
										class="ion-android-add"></i> MORE</a>
                            </div>
                        </div>
                        <div  class="row" style="height:40%;width:100%;" *ngIf="productList.length ==0 || productList == undefined">
                            <div class="col-lg-12 text-center mt-30">
                                <div class="price">
                                    <h2>No Products to Show</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <!-- Quick View -->
    <!-- <div id="qv-1" class="cd-quick-view is-visible animate-width add-content" style="top: 128.662px; left: 264.5px; width: 900px;">
        <div class="cd-slider-wrapper">
            <ul class="cd-slider">
                <li class="selected"><img src="assets/images/products/cloth-1-2-600x800.jpg" alt="Product 2"></li>
                <li><img src="assets/images/products/cloth-1-1-600x800.jpg" alt="Product 1"></li>
            </ul>

            <ul class="cd-slider-pagination">
                <li class="active"><a href="#0">1</a></li>
                <li><a href="#1">2</a></li>
            </ul>

            <ul class="cd-slider-navigation">
                <li><a class="cd-prev" href="#0">Prev</a></li>
                <li><a class="cd-next" href="#0">Next</a></li>
            </ul>
        </div>

        <div class="lezada-item-info cd-item-info ps-scroll">

            <h2 class="item-title">High Waist Trousers</h2>
            <p class="price">
                <span class="main-price discounted">$360.00</span>
                <span class="discounted-price">$300.00</span>
            </p>

            <p class="description">Hurley Dry-Fit Chino Short. Men's chino short. Outseam Length: 19 Dri-FIT Technology helps keep you dry and comfortable. Made with sweat-wicking fabric. Fitted waist with belt loops. Button waist with zip fly provides a classic look and feel
                .
            </p>

            <span class="quickview-title">Quantity:</span>
            <div class="pro-qty d-inline-block mb-40">
                <input type="text" value="1">
            </div>

            <div class="add-to-cart-btn mb-25">

                <button class="lezada-button lezada-button--medium">add to cart</button>
            </div>

            <div class="quick-view-other-info">
                <table>
                    <tr class="single-info">
                        <td class="quickview-title">SKU: </td>
                        <td class="quickview-value">12345</td>
                    </tr>
                    <tr class="single-info">
                        <td class="quickview-title">Categories: </td>
                        <td class="quickview-value">
                            <a href="#">Fashion</a>,
                            <a href="#">Men</a>,
                            <a href="#">Sunglasses</a>
                        </td>
                    </tr>
                    <tr class="single-info">
                        <td class="quickview-title">Tags: </td>
                        <td class="quickview-value">
                            <a href="#">Fashion</a>,
                            <a href="#">Men</a>
                        </td>
                    </tr>
                    <tr class="single-info">
                        <td class="quickview-title">Share on: </td>
                        <td class="quickview-value">
                            <ul class="quickview-social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <a href="#0" class="cd-close">Close</a>
    </div> -->


    <!-- scroll to top  -->
    <a href="#top" class="scroll-top"></a>
    <!-- end of scroll to top -->


    <app-footer></app-footer>

</body>