.search-bar {
    /* position: absolute; */
    margin-right: -10% !important;
    margin-top: 12%;
    padding-top: 0 !important;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-bar:hover>.search-txt1 {
    width: 160px;
    padding: 0 6px;
}

.search-bar:hover>.search-btn1 {
    background-color: white;
}

.search-btn1 {
    color: black;
    float: right;
    width: 35px;
    height: 35px;
    margin-top: 2px;
    border-radius: 40%;
    /* background-color: #2f3640; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
}

.search-txt1 {
    /* border-radius: 40%; */
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 15px;
    transition: 1.0s;
    line-height: 40px;
    width: 0px;
}

/* nav.site-nav>ul>li ul.mega-menu-column-4>li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15% !important;
    flex: 0 0 20% !important;
    padding-left: 30px;
    font-weight: 900 !important;
} */

.mouse-card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%; */
    position: absolute;
    bottom: 26px;
    left: 85%;
    width: 160px;
    height: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    opacity: 1;
    /* visibility: hidden; */
    z-index: 99;
}

.mouse-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mouse-card li {
    position: relative;
    margin-right: 15%;
}

.img-fluid{
padding-left: 10px !important;

}

/* .mega-sub-menu:hover li a {
    visibility: visible;
    opacity: 1;
    bottom: -10px;
} */


/* .mega-sub-menu {
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 250px;
    height: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
} */

nav.site-nav > ul > li ul.mega-menu-column-4 > li a.mega-column-title {
    font-size: 15px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    margin-bottom: 20px !important;
    color: #333333 !important;
}

nav.site-nav > ul > li ul.mega-menu-column-4 > li .mega-sub-menu li a {
    position: relative !important;
    margin-bottom: 15px !important;
    font-size: 15px !important;
    line-height: 22px !important;
    color: #7e7e7e !important;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0 !important;
}