<header class="header header-offcanvas-about is-sticky">

    <div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
        <div class="container wide">
            <!--=======  header bottom container  =======-->
            <div class="header-bottom-container">
                <!--=======  logo with off canvas  =======-->
                <div class="logo-with-offcanvas d-flex">
                    <!--=======  logo   =======-->
                    <div class="logo">
                        <a routerLink="/home">
                            <img src="assets/images/logo.png" class="img-fluid" alt=""
                                style="margin-left: 2%; width:200px;">
                        </a>
                    </div>
                    <!--=======  End of logo   =======-->
                </div>
                <!--=======  End of logo with off canvas  =======-->
                <!--=======  header bottom navigation  =======-->
                <div class="header-bottom-navigation">
                    <div class="site-main-nav d-none d-lg-block">
                        <nav class="site-nav center-menu">
                            <ul>
                                <li class="menu-item-has-children"><a routerLink="/productlist1">Collection</a>
                                    <ul class="sub-menu mega-menu mega-menu-column-4">
                                        <li *ngFor="let c of categoryList; let i=index"><a class="mega-column-title"
                                               (click)="getPoductToNavbar(c.id)">{{c.name}}</a>
                                            <ul class="mega-sub-menu" *ngFor="let sc of c.SubCategory;let j= index">
                                                <li ><a (click)="openSubToSub(c.id ,sc.id,i,j)"
                                                       >{{sc.name}}
                                                        <i class="fa fa-caret-right"
                                                        aria-hidden="true"></i>
                                                    </a>
                                                    <ul class="img-fluid" *ngIf="openSub && sc.isopen ">
                                                        <li 
                                                            *ngFor="let ss of sc.subtosub">
                                                            <a (click)="getPoductToSubNavbar(ss.id)">{{ss.name}}</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item"><a routerLink="/aboutus">About Us</a>

                                </li>
                                <li class="menu-item "><a routerLink="/contactus">Contact Us</a>

                                </li>
                                <li class="menu-item " routerLink="/product/productlist"><a>New Arrivals</a>
                                </li>
                                <!-- <li class="menu-item " routerLink="/registeruser/mobileview"><a>Lovely Dresses</a>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--=======  End of header bottom navigation  =======-->
                <!--=======  headeer right container  =======-->

                <div class="header-right-container">

                    <!--=======  header right icons  =======-->

                    <div class="header-right-icons d-flex justify-content-end align-items-center h-100">
                        <!--=======  single-icon  =======-->

                        <!-- <div class="single-icon search"> -->
                        <!-- <div class="search-bar">
                            <input class="search-txt1" type="text" name="" placeholder="Search">
                            <a class="search-btn1"><i class="fa fa-search"></i></a>
                        </div> -->
                        <!-- </div> -->

                        <div class="single-icon wishlist" (click)="openWish()">
                            <a id="offcanvas-wishlist-icon">
                                <i class="ion-android-favorite-outline"></i>
                                <span class="count" *ngIf="wishList.length >0">{{wishList.length}}</span>
                            </a>
                        </div>

                        <div class="single-icon cart" (click)="openCart()">
                            <a id="offcanvas-cart-icon">
                                <i class="ion-ios-cart"></i>
                                <span class="count" *ngIf="getCartList.length > 0">{{getCartList.length}}</span>
                            </a>
                        </div>
                        <!--=======  End of single-icon  =======-->
                        <div class="single-icon user-login" *ngIf="!isLogged">
                            <a routerLink="/userlogin">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </a>
                        </div>

                        <ul class="nav-item btn-rotate dropdown" *ngIf="isLogged">
                            <a class="nav-link " id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fa fa-user"
                                    style="color: black !important;font-size: 20px;margin-right:-30px!important;margin-left: 14px!important;"></i>
                                <p>
                                    <span class="d-lg-none d-md-block">Account</span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a><i class="fa fa-user" aria-hidden="true"
                                        style="margin-left: 16px !important;"></i>&nbsp;{{uName}}</a>
                                <br>
                                <a class="dropdown-item" style="font-size: 16px;" routerLink="/manageuser"><i
                                        class="fa fa-cog" aria-hidden="true"
                                        style="margin-left:-9px !important;font-size: 16px;"></i> Manage Profile</a>
                                <a class="dropdown-item" style="font-size: 16px;" (click)="logoutUser()"><i
                                        class="fa fa-sign-out" aria-hidden="true"
                                        style="margin-left:-9px !important;font-size: 16px;"></i> Logout</a>
                            </div>
                        </ul>
                    </div>
                    <!--=======  End of header right icons  =======-->

                </div>
                <!--=======  End of headeer right container  =======-->
            </div>
            <!--=======  End of header bottom container  =======-->


            <!-- Mobile Navigation Start Here -->
            <div class="site-mobile-navigation d-block d-lg-none">
                <div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
                    <!--Site Mobile Menu Toggle Start-->
                    <button class="dl-trigger hamburger hamburger--spin">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <!--Site Mobile Menu Toggle End-->
                    <ul class="dl-menu dl-menu-toggle">
                        <li class=""><a href="#">Home</a>
                            <ul class="dl-submenu">
                                <li class=""> <a href="#">Home Group One</a>
                                    <ul class="dl-submenu">
                                        <li><a href="index-trending.html">Trending</a></li>
                                        <li><a href="index-collection.html">My collection</a></li>
                                        <li><a href="index-special.html">Special</a></li>
                                        <li><a href="index-concept.html">concept</a></li>
                                        <li><a href="index-smart.html">smart design</a></li>
                                    </ul>
                                </li>
                                <li> <a href="#">Home Group Two</a>
                                    <ul class="dl-submenu">
                                        <li><a href="index-furniture.html">Furniture </a></li>
                                        <li><a href="index-essentials.html">Essentials</a></li>
                                        <li><a href="index-lookbook.html">Lookbook</a></li>
                                        <li><a href="index-wearables.html">Wearables</a></li>
                                        <li><a href="index-accessories.html">Accessories</a></li>
                                    </ul>
                                </li>
                                <li> <a href="#">Home Group three</a>
                                    <ul class="dl-submenu">
                                        <li><a href="index-shoppable.html">Shoppable</a></li>
                                        <li><a href="index-instagram.html">Instagram Shop</a></li>
                                        <li><a href="index-fashion.html">Fashion</a></li>
                                        <li><a href="index-perfumes.html">Perfumes</a></li>
                                        <li><a href="index-cosmetics.html">Cosmetics</a></li>
                                    </ul>
                                </li>
                                <li> <a href="#">Home Group four</a>
                                    <ul class="dl-submenu">
                                        <li><a href="index-decor.html">Home Decor</a></li>
                                        <li><a href="index-creative.html">Creative</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">Shop</a>
                            <ul class="dl-submenu">
                                <li class=""> <a href="#">Shop Pages</a>
                                    <ul class="dl-submenu">
                                        <li><a href="shop-no-sidebar.html">Shop No Sidebar</a></li>
                                        <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                        <li><a href="shop-fullwidth-no-space.html">Shop Fullwidth No Space</a></li>
                                        <li><a href="shop-fullwidth-no-sidebar.html">Shop Fullwidth No Sidebar</a></li>
                                        <li><a href="shop-fullwidth-left-sidebar.html">Shop Fullwidth Left Sidebar</a>
                                        </li>
                                        <li><a href="shop-fullwidth-right-sidebar.html">Shop Fullwidth Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class=""> <a href="#">Product Details Pages</a>
                                    <ul class="dl-submenu">
                                        <li><a href="shop-product-basic.html">Basic </a></li>
                                        <li><a href="shop-product-fullwidth.html">Fullwidth</a></li>
                                        <li><a href="shop-product-sticky-details.html">Sticky details</a></li>
                                        <li><a href="shop-product-with-sidebar.html">With Sidebar</a></li>
                                        <li><a href="shop-product-extra-content.html">Extra Content</a></li>
                                        <li><a href="shop-product-variation-image.html">Variation Image</a></li>
                                        <li><a href="shop-product-bought-together.html">Bought Together</a></li>


                                    </ul>
                                </li>
                                <li class=""> <a href="#">Other Shop Pages</a>
                                    <ul class="dl-submenu">
                                        <li><a href="shop-product-with-background.html">Product with background</a></li>
                                        <li><a href="shop-cart.html">Shopping Cart</a></li>
                                        <li><a href="shop-checkout.html">Checkout</a></li>
                                        <li><a href="shop-order-tracking.html">Order Tracking</a></li>
                                        <li><a href="shop-wishlist.html">Wishlist</a></li>
                                        <li><a href="shop-customer-login.html">Customer Login</a></li>
                                        <li><a href="shop-by-brand.html">Shop by Brand</a></li>

                                    </ul>
                                </li>


                            </ul>
                        </li>
                        <li><a href="#">Elements</a>
                            <ul class="dl-submenu">
                                <li class=""> <a href="#">Shop / Products</a>
                                    <ul class="dl-submenu">
                                        <li><a href="element-product-categories.html">Product Categories</a></li>
                                        <li><a href="element-product-sliders.html">Product Sliders</a></li>
                                        <li><a href="element-product-tabs.html">Product Tabs</a></li>
                                        <li><a href="element-product-widget.html">Product Widget</a></li>
                                        <li><a href="element-recent-products.html">Recent Products</a></li>
                                    </ul>
                                </li>
                                <li class=""> <a href="#">Shop / Products</a>
                                    <ul class="dl-submenu">
                                        <li><a href="element-sale-products.html">Sale Products </a></li>
                                        <li><a href="element-featured-products.html">Featured products</a></li>
                                        <li><a href="element-top-rated-products.html">Top Rated products</a></li>
                                        <li><a href="element-bestselling-products.html">Best Selling products</a></li>
                                        <li><a href="element-product-attributes.html">Product Attributes</a></li>
                                    </ul>
                                </li>
                                <li class=""> <a href="#">Theming</a>
                                    <ul class="dl-submenu">
                                        <li><a href="element-blog-posts.html">Blog Posts</a></li>
                                        <li><a href="element-mailchimp-form.html">Mailchimp Form</a></li>
                                        <li><a href="element-icon-box.html">Icon Box</a></li>
                                        <li><a href="element-team-member.html">Team Member</a></li>
                                        <li><a href="element-instagram.html">Instagram</a></li>

                                    </ul>
                                </li>


                            </ul>
                        </li>
                        <li><a href="#">Pages</a>
                            <ul class="dl-submenu">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="about-us-2.html">About Us 2</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li><a href="faq.html">F.A.Q</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="my-account.html">My account</a></li>
                                <li><a href="compare.html">Compare</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Blog</a>
                            <ul class="dl-submenu">
                                <li><a href="#">Standard Layout</a>
                                    <ul class="dl-submenu">
                                        <li><a href="blog-standard-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a href="blog-standard-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a href="blog-standard-full-width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Grid Layout</a>
                                    <ul class="dl-submenu">
                                        <li><a href="blog-grid-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a href="blog-grid-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a href="blog-grid-full-width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">List Layout</a>
                                    <ul class="dl-submenu">
                                        <li><a href="blog-list-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a href="blog-list-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a href="blog-list-full-width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Masonry Layout</a>
                                    <ul class="dl-submenu">
                                        <li><a href="blog-masonry-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a href="blog-masonry-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a href="blog-masonry-full-width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1st Full Then Grid</a>
                                    <ul class="dl-submenu">
                                        <li><a href="blog-full-then-grid-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a href="blog-full-then-grid-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a href="blog-full-then-grid-full-width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Single Post Layout</a>
                                    <ul class="dl-submenu">
                                        <li><a href="blog-single-post-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a href="blog-single-post-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a href="blog-single-post-full-width.html">Full Width</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Mobile Navigation End Here -->
        </div>
    </div>


    <!--=======  End of header bottom  =======-->
    <!--=======  about overlay  =======-->
    <div class="header-offcanvas about-overlay" id="about-overlay">
        <div class="overlay-close inactive"></div>
        <div class="overlay-content">

            <!--=======  close icon  =======-->

            <span class="close-icon" id="about-close-icon">
                <a href="javascript:void(0)">
                    <i class="ti-close"></i>
                </a>
            </span>

            <!--=======  End of close icon  =======-->

            <!--=======  overlay content container  =======-->

            <div class="overlay-content-container d-flex flex-column justify-content-between h-100">
                <!--=======  widget wrapper  =======-->

                <div class="widget-wrapper">
                    <!--=======  single widget  =======-->

                    <div class="single-widget">
                        <h2 class="widget-title">About Us</h2>
                        <p>At Lezada, we put a strong emphasis on simplicity, quality and usefulness of fashion products
                            over other factors. Our fashion items never get outdated. They are not short-lived as normal
                            fashion clothes.</p>
                    </div>

                    <!--=======  End of single widget  =======-->
                </div>

                <!--=======  End of widget wrapper  =======-->

                <!--=======  contact widget  =======-->

                <div class="contact-widget">
                    <p class="email"><a href="mailto:contact@lezada.com">contact@lezada.com</a></p>
                    <p class="phone">(+00) 123 567990</p>

                    <div class="social-icons">
                        <ul>
                            <li><a href="//www.twitter.com" data-tippy="Twitter" data-tippy-inertia="true"
                                    data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="//www.facebook.com" data-tippy="Facebook" data-tippy-inertia="true"
                                    data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="//www.instagram.com" data-tippy="Instagram" data-tippy-inertia="true"
                                    data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li><a href="//www.youtube.com" data-tippy="Youtube" data-tippy-inertia="true"
                                    data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder" target="_blank"><i
                                        class="fa fa-youtube-play"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--=======  End of contact widget  =======-->
            </div>

            <!--=======  End of overlay content container  =======-->
        </div>
    </div>
    <!--=======  End of about overlay  =======-->
    <!--=======  wishlist overlay  =======-->

    <div [ngClass]="wishclass" id="wishlist-overlay">
        <div class="wishlist-overlay-close inactive"></div>
        <div class="wishlist-overlay-content">
            <!--=======  close icon  =======-->

            <span class="close-icon" id="wishlist-close-icon" (click)="closeWish()">
                <a href="javascript:void(0)">
                    <i class="ion-android-close"></i>
                </a>
            </span>

            <!--=======  End of close icon  =======-->

            <!--=======  offcanvas wishlist content container  =======-->

            <div class="offcanvas-cart-content-container">
                <h3 class="cart-title">Wishlist</h3>

                <div class="cart-product-wrapper">
                    <div class="cart-product-container ps-scroll">
                        <!--=======  single cart product  =======-->

                        <div class="single-cart-product" *ngFor="let wl of wishList;let i=index">
                            <span class="cart-close-icon">
                                <a> <i class="ti-close" (click)="removeWishItem(i,wl.id)"></i></a>
                            </span>
                            <div class="image">
                                <a>
                                    <img src="http://localhost:8090{{wl.productMainImage}}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <h5><a (click)="getProductList(wl.productid)">{{wl.productName}}</a></h5>
                                <p><span class="cart-count">{{wl.dicountPrice}}</span>
                                    <span class="discounted-price">{{wl.productPrice}}</span>
                                </p>

                            </div>
                        </div>

                        <!--=======  End of single cart product  =======-->
                    </div>

                    <!--=======  cart buttons  =======-->

                    <div class="cart-buttons">
                        <a routerLink="/wishlist">view wishlist</a>
                    </div>

                    <!--=======  End of cart buttons  =======-->
                </div>
            </div>

            <!--=======  End of offcanvas wishlist content container   =======-->
        </div>
    </div>
    <!--=======  End of wishlist overlay  =======-->
    <!--=======  cart overlay  =======-->
    <div [ngClass]="cartclass" id="cart-overlay">
        <div class="cart-overlay-close inactive"></div>
        <div class="cart-overlay-content">
            <!--=======  close icon  =======-->

            <span class="close-icon" id="cart-close-icon" (click)="closeCart()">
                <a href="javascript:void(0)">
                    <i class="ion-android-close"></i>
                </a>
            </span>

            <!--=======  End of close icon  =======-->

            <!--=======  offcanvas cart content container  =======-->

            <div class="offcanvas-cart-content-container">
                <h3 class="cart-title">Cart</h3>

                <div class="cart-product-wrapper">
                    <div class="cart-product-container ps-scroll">
                        <!--=======  single cart product  =======-->

                        <div class="single-cart-product" *ngFor="let cl of getCartList;let i=index">
                            <span class="cart-close-icon">
                                <a> <i class="ti-close" (click)="removeCartItem(i,cl.id)"></i></a>
                            </span>
                            <div class="image">
                                <a>
                                    <img src="http://localhost:8090{{cl.productMainImage}}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <h5><a (click)="getProductList(cl.productid)">{{cl.productName}}</a></h5>
                                <p><span class="cart-count">{{cl.dicountPrice}}</span>
                                    <span class="discounted-price">{{cl.productPrice}}</span>
                                </p>

                            </div>
                        </div>

                        <!--=======  End of single cart product  =======-->
                    </div>

                    <!--=======  subtotal calculation  =======-->

                    <p class="cart-subtotal">
                        <span class="subtotal-title">Subtotal:</span>
                        <span class="subtotal-amount">₹ {{carttotal}}</span>
                    </p>

                    <!--=======  End of subtotal calculation  =======-->

                    <!--=======  cart buttons  =======-->

                    <div class="cart-buttons">
                        <a routerLink="/usercart">view cart</a>
                        <a routerLink="/checkout">checkout</a>
                    </div>

                    <!--=======  End of cart buttons  =======-->

                    <!--=======  free shipping text  =======-->

                    <p class="free-shipping-text">
                        Free Shipping on All Orders Over ₹500!
                    </p>

                    <!--=======  End of free shipping text  =======-->
                </div>
            </div>

            <!--=======  End of offcanvas cart content container   =======-->
        </div>
    </div>
    <!--=======  End of cart overlay  =======-->
    <!--=======  search overlay  =======-->
    <div class="search-overlay" id="search-overlay">

        <!--=======  close icon  =======-->

        <span class="close-icon search-close-icon">
            <a href="javascript:void(0)" id="search-close-icon">
                <i class="ti-close"></i>
            </a>
        </span>

        <!--=======  End of close icon  =======-->

        <!--=======  search overlay content  =======-->

        <div class="search-overlay-content">
            <div class="input-box">
                <form action="index.html">
                    <input type="search" placeholder="Search Products...">
                </form>
            </div>
            <div class="search-hint">
                <span># Hit enter to search or ESC to close</span>
            </div>
        </div>

        <!--=======  End of search overlay content  =======-->
    </div>
    <!--=======  End of search overlay  =======-->
    <!--=====  End of overlay items  ======-->

</header>