body {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

#slider-wrapper {
    max-width: 540px;
    width: auto;
    height: auto;
    margin: 50px auto;
    background-color: #10232b;
    padding: 15px;
}

#image-slider {
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: auto;
    display: block;
}

#image-slider ul {
    width: 100%;
    height: 359px;
    position: relative;
}

#image-slider ul li {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 540px;
    width: 100%;
    height: 100%;
}

#image-slider ul li img {
    width: 100%;
    height: auto;
}

#image-slider ul li.active-img {
    left: 0;
}

.next-img {
    z-index: 9999;
}

#thumbnail {
    cursor: default;
    margin-top: 3px;
    height: auto;
    display: table;
    width: 100%;
}

#thumbnail ul {
    width: 100%;
    height: 100%;
}

#thumbnail li {
    list-style: none;
    float: left;
    cursor: pointer;
    min-width: 1px;
}

#thumbnail li img {
    padding: 0;
    float: left;
    margin: 0px 1.5px;
    max-height: 56px;
    height: 56px;
}

#thumbnail li:first-child img {
    margin-right: 0px;
    margin-left: 0px;
}
gallery{
    background: #ECEFF1;
  }
.carousel {
    width: 100%;
    height: 100%;
    min-height: var(--min-height-carousel);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .slides {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    list-style: none;
    margin: var(--unit-1);
    border: 2px solid var(--color-brand-1);
  }
  
  .slide {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* navigation */
  .navigations {
    display: flex;
    padding: var(--unit-1);
    border: 2px solid var(--color-brand-1);
    margin: var(--unit-1);
  }
  
  .navigations > div {
    flex: 1;
  }
  
  .navigations button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-brand-1);
    flex-shrink: 0;
    padding: 0 calc(var(--unit-1) * 2);
    background-color: transparent;
    margin: 0;
    border-color: transparent;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    width: calc(var(--unit-1) * 16);
    text-align: center;
    border: 2px solid var(--color-brand-1);
  }
  
  .thumbnails {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .thumbnails li {
    cursor: pointer;
    padding: var(--unit-1);
    border: 2px solid transparent;
    width: calc(var(--unit-1) * 12);
    height: calc(var(--unit-1) * 12);
    opacity: 0.2;
    transition: opacity var(--transition-duration) var(--transition-function);
  }
  .thumbnails li.is-active {
    border-color: var(--color-brand-1);
    opacity: 1;
  }

  /* .basic-container {
    padding: 5px;
  }
  .container {
    display: flex;
    height: 200px !important;
  }
  .img {
    width: 200px !important;
    object-fit: cover;
    margin: 5px;
  }
  .g-overlay {
    min-width: 320px !important;
  }
  img {
    width: 150px !important;
  }
  
  .lightbox-example, .gallerize-example {
    margin: 2em;
  } */


